@model RPMJoinery.Models.Project

<br />
<br />


<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        @Html.DisplayFor(modelItem => modelItem.Title)
        <small>@Html.DisplayFor(modelItem => modelItem.Type)</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Projects")">Projects</a>
        </li>
        <li class="breadcrumb-item active">Project @Html.DisplayFor(modelItem => modelItem.Id)</li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Html.DisplayFor(modelItem => modelItem.ImgFilePath)" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Project Description</h3>
            <p>@Html.DisplayFor(modelItem => modelItem.Description)</p>
            <h3 class="my-3">Project Details</h3>
            <p>@Html.DisplayFor(modelItem => modelItem.Details)</p>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h4 class="my-4">Related Images</h4>

    <div class="row">

        @if(!string.IsNullOrEmpty(Model.ImgFilePath2))
        {
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="card-img-top myImg" src="@Html.DisplayFor(modelItem => modelItem.ImgFilePath2)" alt="Image 1">
                </a>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.ImgFilePath3))
        {
            <div class="col-md-3 col-sm-6 mb-4 myImg">
                <a href="#">
                    <img class="card-img-top myImg" src="@Html.DisplayFor(modelItem => modelItem.ImgFilePath3)" alt="Image 2">
                </a>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.ImgFilePath4))
        {
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="card-img-top myImg" src="@Html.DisplayFor(modelItem => modelItem.ImgFilePath4)" alt="Image 3">
                </a>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.ImgFilePath5))
        {
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="card-img-top myImg" src="@Html.DisplayFor(modelItem => modelItem.ImgFilePath5)" alt="Image 4">
                </a>
            </div>
        }

    </div>
    <!-- /.row -->
    <p>
        <a href="@Url.Action("Index", "Projects")" class="btn btn-primary">Back to projects </a>
    </p>


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

</div>
<!-- /.container -->
