    <!-- Page Content -->
<br />
<br />
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Services
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li class="breadcrumb-item active">Services</li>
    </ol>

    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="../../img/toolkit3.jpg" alt="">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Fully Fitted Kitchens</h4>
                <div class="card-body">
                    <p class="card-text">We can design and expertly fit your dream kitchen and flooring to your exact requirement and taste. We pride ourselves in our expert service and can provide a variety of styles for all budgets. Take a look at some of the <a href="@Url.Action("Kitchens","Projects")">kitchens in our portfolio</a> for some inspiration or contact us with an enquiry for a free quote.</p>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Bathrooms & Wet Walls</h4>
                <div class="card-body">
                    <p class="card-text">Whether your bathroom needs revamping, a simple suite installation or a complete reconstruction we can cater to your needs. We cover all jobs needed to bring your dream bathroom to life. Why not have a look at some of the <a href="@Url.Action("Bathroom","Projects")">bathrooms and wet walls in our portfolio</a>.</p>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header"> Full Property Refurbishment </h4>
                <div class="card-body">
                    <p class="card-text">Whether you are a letting agent or a homeowner we can also provide complete renovation services that can transform a property to fufill its full potential. We recently completed a series of <a href="@Url.Action("Details","Projects")">West End flat renovations</a> in Dundee that stand as a testament of we can do for your property. We are happy to take on renovation projects of all sizes, get in touch today.</p>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Decking & Fencing </h4>
                <div class="card-body">
                    <p class="card-text">RPM also offer professional decking and fencing services in a range of finishes to suit your garden. These products can transform your garden and are available at great prices. Take a look at some of the <a href="@Url.Action("DeckingFencing","Projects")">decking and fencing projects</a> we have previously completed.</p>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Small Maintenance Jobs</h4>
                <div class="card-body">
                    <p class="card-text">From small maintenance jobs, to general repairs we can offer domestic and commercial handyman services at a low price. No job is too small.</p>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Windows & Doors</h4>
                <div class="card-body">
                    <p class="card-text">At RPM we can supply and install replacement windows and doors, in homes, offices and all other typical scenarios. All our windows and doors are expertly fitted down to the finest detail. Feel free to browse some of the <a href="@Url.Action("WindowsDoors","Projects")">windows and doors in our portfolio</a> that we have completed for our happy customers.</p>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
@section Scripts {
    <script type="text/javascript">
        $('#services-link').addClass('active');
    </script>
}